.forbes {
    color: black;
    font-size: medium;
    font-family: "Baskerville Old Face";
    text-emphasis-style: sesame;
}
.heading {
    color: darkblue;
    font-size: large;
    font-family: Algerian;
}